# Timezone
TZ=Europe/Madrid

# General configuration
DOMAIN=pi.home
VOLUMES_PATH=/opt/alpargati-pi/volumes
DATA_PATH=/opt/alpargati-pi/data

# Tailscale (Optional but recommended)
TS_AUTHKEY=tskey-auth-yourkeyhere
TS_DOMAIN=your-tailnet-name.ts.net
TS_API_KEY=tskey-api-...        # Optional
TS_DEVICE_ID=taken-from-ts-uid  # Optional

# Caddy Basic Auth (protects Dozzle and other services)
CADDY_AUTH_USER="your_username"
CADDY_AUTH_PASSWORD="your_secure_password"

# AdGuard Home configuration
# These credentials are used for the initial setup
ADGUARD_ADMIN_USER="admin"
ADGUARD_ADMIN_PASSWORD="change_this_password"

# FreshRSS configuration
FRESHRSS_USER="admin"
FRESHRSS_PASSWORD="change_this_password"
