## Global options
{
    # Enable automatic HTTPS but manage Tailscale specifically
}

# Snippet for internal access restriction (Local LAN + Tailscale IPv4/IPv6)
(internal_only) {
    @not_internal not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8 ::1 100.64.0.0/10 fd7a:115c:a1e0::/48
    respond @not_internal "Access denied" 403
}

# Main homepage
http://{{DOMAIN}}, http://home.{{DOMAIN}} {
    import internal_only
    reverse_proxy homepage:3000
}

# Vaultwarden - Password Manager
# Uses Valid HTTPS via Tailscale and HTTP for local access
https://{{TS_DOMAIN}} {
    import internal_only
    tls {
        get_certificate tailscale
    }
    reverse_proxy vaultwarden:80
}

http://vault.{{DOMAIN}} {
    import internal_only
    reverse_proxy vaultwarden:80
}

# AdGuard Home - DNS Admin Panel
http://adguard.{{DOMAIN}} {
    import internal_only
    reverse_proxy host.docker.internal:3000
}

# Syncthing
http://sync.{{DOMAIN}} {
    import internal_only
    reverse_proxy syncthing:8384
}

# Dozzle
http://logs.{{DOMAIN}} {
    import internal_only
    basic_auth {
        {{CADDY_AUTH_USER}} {{CADDY_AUTH_PASSWORD_HASH}}
    }
    reverse_proxy dozzle:8080
}

# WUD
http://wud.{{DOMAIN}} {
    import internal_only
    reverse_proxy wud:2999
}

# SilverBullet
http://notes.{{DOMAIN}} {
    import internal_only
    reverse_proxy silverbullet:3000
}

# Memos
http://memos.{{DOMAIN}} {
    import internal_only
    reverse_proxy memos:5230
}
